<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataLoader" class="com.bluesky.bankapp.io.StartupDataLoader">
        <constructor-arg ref="dataStorage"/>
    </bean>

    <bean id="dataStorage" class="com.bluesky.bankapp.BankAppDataStorage"/>


    <bean id="userActionsMenu" class="com.bluesky.bankapp.ui.UserActionsMenu">
        <constructor-arg ref = "context"/>
    </bean>

    <bean id="context" class="com.bluesky.bankapp.security.SessionContext">
        <constructor-arg ref="scan"/>
    </bean>

    <bean id="scan" class="com.bluesky.bankapp.io.InputReader"></bean>

    <bean id="collector" class="com.bluesky.bankapp.collectors.DataCollectorFactory">
        <constructor-arg ref="scan"/>
    </bean>



    <bean id="executorBuilder" class="com.bluesky.bankapp.executors.ActionExecutorFactory">
        <constructor-arg ref="collector" />
        <constructor-arg ref = "context"/>
        <constructor-arg ref="dataStorage"/>

    </bean>

    <bean id="userDao" class="com.bluesky.bankapp.dao.UserDao"/>

    <bean id="accountDao" class="com.bluesky.bankapp.dao.AccountDao"/>

    <bean id="transactionDao" class="com.bluesky.bankapp.dao.TransactionDao"/>

    <bean id="userCredsDao" class="com.bluesky.bankapp.dao.UserCredsDao"/>

   <!-- more bean definitions go here -->

</beans>
